UpperLowerClient/xml-resources/web-service-references/UpperLowerServicde/wsdl/localhost_8080/UpperLowerServicde/UpperLowerServicde.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://upperlower.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://upperlower.me.org/">

<xs:element name="paraLower" type="tns:paraLower"/>

<xs:element name="paraLowerResponse" type="tns:paraLowerResponse"/>

<xs:element name="paraUpper" type="tns:paraUpper"/>

<xs:element name="paraUpperResponse" type="tns:paraUpperResponse"/>

<xs:complexType name="paraUpper">
<xs:sequence>
<xs:element name="texto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="paraUpperResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="paraLower">
<xs:sequence>
<xs:element name="texto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="paraLowerResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>